* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 2rem;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #edeef0;
  padding-left: 20px;
  margin-bottom: 25px;
}

.row input {
  outline: 0;
  border: 0;
  padding: 10px;
  flex: 1;
  background: transparent;
  font-size: 14px;
}

.row button {
  border: 0;
  outline: 0;
  padding: 16px 50px;
  background-color: #153677;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 18px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li span {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 18px;
}

ul li span:hover {
  background-color: #002765;
  color: #fff;
}
