*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
}

.btn {
    outline: 0;
    border: 0;
    padding: 10px 20px;
    background-color: cadetblue;
    color: #fff;
    border-radius: 50px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.input-box {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;


}

.input-box img {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 35px;
    height: 30px;
    
    cursor: pointer;
    font-size: 1rem;

}